<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangeColor</title>

    <style>
        h1,p{
            border: 2px solid blue;
            text-align: center;
        }
        @media screen and (max-width:500px) {
            h1,p{
                border: 2px solid red;
            }
        }
    </style>

</head>
<body>
    <h1>Hello Radixweb Family... </h1>
    <p>Color Should Change When Its Below 500.</p>
</body>
</html>