<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="task6.css">
</head>
<body>
    <div class="contanier">
      
        <div class="leftbar">
          <img src="photo.png" alt="image">
          <ul class="links">
            <li style="margin-top: 40px ;"><a href="">Image</a></li>
            <li><a href="#obj">Objectives</a></li>
            <li><a href="#personalInfo">Personal Info</a></li>
            <li><a href="#Experience">Experience</a></li>
            <li><a href="#edu">Education</a></li>
          </ul>
        </div>
  
        <div class="main">

          <div id="obj">
            <h2>Objectives</h2>
            <p>I want to succeed in stimulating and challenging environment,building the success of the company while I experience advancement opportunities.</p>
          </div>
  
          <div id="personalInfo">
            <h2>Personal Information</h2>
            <p><strong>Name:</strong> Tamanna Parmar</p>
            <p><strong>Mobile number:</strong> 8758678968</p>
            <p><strong>Email:</strong> tannu22parmar@gmail.com</p>
            <p><strong>City:</strong> Ahmedabad</p>
            <p><strong>Pincode:</strong> 382443</p>
            <p><strong>Github:</strong>Tannu-Parmar</p>
            <p><strong>Linkedin:</strong>Tamanna Parmar</p>
          </div>
  
          <div id="Experience">
            <h2>Professional Skills</h2>
            <ul>
                <li>Creative Skills -<u>Figma, Adobe tools, Canva etc.</u> </li>
                <li>Framework &Library skills -<u>React, Node/Express &Next</u> </li>
                <li>DB Skills -<u>SQL(Workbench), NoSQL(MongoDB/Mongoose) & GraphOL</u> </li>
                <li>Version Control Skills -<u>Git, GitHub & GitLab</u> </li>
                <li>Good Data Structure & Algorithm skills</li>
                <li>Good Communication skills</li>
                <li>Leadership</li>
                <li>Public Relations</li>
                <li>Problem Solving</li>
                
            </ul>
                  
          </div>
  
          <div id="edu">
            <h2>Education </h2>
            <ul>
                <li>
                    <dl><strong>BACHELORS DEGREE </strong></dl>
                        <dd>In C.E from Silver Oak College Engineering with <u style="color: blue;">8.5 CGPA</u></dd>
                        <dd>July 2019 - May 2022</dd>
                </li>
                <br>    
                <li>
                  <dl><strong>DIPLOMA DEGREE </strong></dl>
                  <dd>In C.E from Dalia Institute of Diploma Engineering with <u style="color: blue;">8.1 CGPA</u></dd>
                  <dd>July 2016 - May 2019</dd>
                </li>
            </ul>
  
        </div>
  
  
        </div>
      </div>
    </body>
  </html>
</body>
</html>